*.png
*.pyc
*~
*.log
*.aux
*.dvi
*.fls
*.fdb_latexmk
*.out
magnetic_evaporation/backup/*.json
**.jpg
.gitignore
**.swp
electrode/backup/*
electrode/values.json
.vscode/
magnetic_evaporation/evap.json
*.DS_Store
docs/_build
docs/_static
dds/backup
database/mongodb.json
conductor/devices/andor/mongodb.json
log/secrets.json