alabaster==0.7.12
asn1crypto==0.24.0
astroid==1.6.6
attrs==18.2.0
Automat==0.7.0
Babel==2.9.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
bleach==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cloudpickle==1.3.0
colorama==0.4.1
configparser==3.7.1
constantly==15.1.0
cryptography==2.5
cycler==0.10.0
decorator==4.3.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
hyperlink==18.0.0
idna==2.8
imagesize==1.2.0
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.5.0
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
kiwisolver==1.0.1
lazy-object-proxy==1.5.1
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.2
notebook==6.1.5
numpy==1.16.0
packaging==20.9
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.3
pickleshare==0.7.5
Pillow==6.2.2
prometheus-client==0.7.1
prompt-toolkit==1.0.15
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
Pygments==2.3.1
PyHamcrest==1.9.0
pylabrad==0.97.2
pylint==1.9.5
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.15.2
pyserial==3.4
python-dateutil==2.7.5
pytz==2018.9
PyVISA==1.10.1
PyWavelets==1.0.3
pywinpty==0.5.5
pyzmq==18.0.2
q==2.6
qtconsole==4.5.1
requests==2.21.0
rstcheck==3.3.1
scandir==1.9.0
scikit-image==0.14.5
scipy==1.2.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.1.0
Sphinx==1.8.5
sphinx-rtd-theme==0.5.1
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
Twisted==18.9.0
typing==3.7.4.3
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
win-unicode-console==0.5
wrapt==1.12.1
zope.interface==4.6.0
